.intorWrapper {
  display: flex;
  padding: 100px 100px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.intortitle {
  width: 50%;
  padding: 0px 50px;
}

.intorText {
  padding: 0px 50px;
  width: 50%;
}

.intortitle > h1 {
  font-size: 54px;
  font-weight: 600;
}

.intorText > h1 {
  font-size: 32px;
  font-weight: 600;
}

.intorText > p {
  font-size: 18px;
  font-weight: 500;
  opacity: 30%;
}

.verticalLine {
  border-left: 1px solid var(--color-white);
  height: 200px;
}

.card {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.cardHeader {
  text-align: center;
  font-size: 54px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 60px;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 80px;
}
